<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="item-images">
          <img ng-src="{{img}}"
               class="item"
               ng-repeat="img in item.images"
               ng-class="{active: mainImageUrl==img}">
        </div>
      </div>
      <div class="col-md-10">
        <h1 class="page">{{item.name}}</h1>

        <p ng-repeat="description in item.description">{{description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="specs">
          <li>
            <span>Alternatives</span>
            <dd ng-repeat="alternatives in item.alternatives">{{alternatives}}</dd>
          </li>
          
        </ul>
      </div>
    </div>
</div>