<div class="item-images">
  <img ng-src="{{img}}"
       class="item"
       ng-repeat="img in item.images"
       ng-class="{active: mainImageUrl==img}">
</div>

<h1>{{item.name}}</h1>

<p>{{item.description}}</p>

<ul class="item-thumbs">
  <li ng-repeat="img in item.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Alternatives</span>
    <dd ng-repeat="alternatives in item.alternatives">{{alternatives}}</dd>
  </li>
  <li>
    <span>Ingredients</span>
    <dd>{{item.ingredients}}</dd>
  </li>
</ul>
