<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>


      <ul class="items">
        <li ng-repeat="item in items | filter:query | orderBy:orderProp"
            class="thumbnail item-listing">
          <a href="#/items/{{item.id}}" class="thumb"><img ng-src="{{item.imageUrl}}"></a>
          <a href="#/items/{{item.id}}">{{item.name}}</a>
          <p>{{item.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>